# Salin file ini menjadi .env.local lalu isi dengan API key Gemini kamu
# Dapatkan API key di: https://aistudio.google.com/app/apikey

NEXT_PUBLIC_SUPABASE_URL=https://lqrxliawcfysubxcrvoq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_jqwHlBqo65rOaexvrzisPQ_xyE0Q9iu
